In [20]:
import pandas as pd

# Load the land area CSV (replace with your actual filename)
land_area_path = "Data/Ag_Land_Area.csv"

# Read the CSV, skipping the first 4 lines and making the next row the header
df = pd.read_csv(land_area_path, skiprows=4)

# Rename '2020' column to 'Ag_land_Area'
df = df.rename(columns={"2020": "Ag_land_Area"})

# Keep only the 'Country Code', 'Ag_land_Area', and 'Indicator Code' columns
df_AG_AREA = df[["Country Code", "Ag_land_Area"]]

In [19]:
land_area_path = "Data/AG_Land_pct.csv"

# Read the CSV, skipping the first 4 lines and making the next row the header
df = pd.read_csv(land_area_path, skiprows=4)

# Rename '2020' column to 'Ag_land_Area'
df = df.rename(columns={"2020": "Ag_land_pct"})

# Keep only the 'Country Code', 'Ag_land_Area', and 'Indicator Code' columns
df_AG_pct = df[["Country Code", "Ag_land_pct"]]

df_AG_pct

    Country Code  Ag_land_pct
0            ABW    11.111111
1            AFE    46.456976
2            AFG    58.741548
3            AFW    41.120326
4            AGO    36.810780
..           ...          ...
261          XKX          NaN
262          YEM    44.419190
263          ZAF    79.417850
264          ZMB    32.067959
265          ZWE    39.754073

[266 rows x 2 columns]

In [18]:
land_area_path = "Data/Ag_pct_gdp.csv"

# Read the CSV, skipping the first 4 lines and making the next row the header
df = pd.read_csv(land_area_path, skiprows=4)

# Rename '2020' column to 'Ag_land_Area'
df = df.rename(columns={"2020": "Ag_pct_gdp"})

# Keep only the 'Country Code', 'Ag_land_Area', and 'Indicator Code' columns
df_pct_gdp = df[["Country Code", "Ag_pct_gdp"]]

df_pct_gdp

    Country Code  Ag_pct_gdp
0            ABW         NaN
1            AFE   14.644268
2            AFG   29.975583
3            AFW   22.246007
4            AGO    9.946544
..           ...         ...
261          XKX    7.362010
262          YEM         NaN
263          ZAF    2.578661
264          ZMB    2.972634
265          ZWE    8.772859

[266 rows x 2 columns]

In [21]:
land_area_path = "Data/Cereal_Yield_KG.csv"

# Read the CSV, skipping the first 4 lines and making the next row the header
df = pd.read_csv(land_area_path, skiprows=4)

# Rename '2020' column to 'Ag_land_Area'
df = df.rename(columns={"2020": "Cereal_yield_kg/ha"})

# Keep only the 'Country Code', 'Ag_land_Area', and 'Indicator Code' columns
df_cereal_yield = df[["Country Code", "Cereal_yield_kg/ha"]]

df_cereal_yield

    Country Code  Cereal_yield_kg/ha
0            ABW                 NaN
1            AFE         1864.028459
2            AFG         2050.800000
3            AFW         1368.256795
4            AGO          992.300000
..           ...                 ...
261          XKX                 NaN
262          YEM         1423.400000
263          ZAF         5121.100000
264          ZMB         2481.600000
265          ZWE         1148.700000

[266 rows x 2 columns]

In [22]:
land_area_path = "Data/GDP.csv"

# Read the CSV, skipping the first 4 lines and making the next row the header
df = pd.read_csv(land_area_path, skiprows=4)

# Rename '2020' column to 'Ag_land_Area'
df = df.rename(columns={"2020": "GDP"})

# Keep only the 'Country Code', 'Ag_land_Area', and 'Indicator Code' columns
df_GDP = df[["Country Code", "GDP"]]

df_GDP

    Country Code           GDP
0            ABW  2.481857e+09
1            AFE  9.333918e+11
2            AFG  1.995593e+10
3            AFW  7.898017e+11
4            AGO  4.850156e+10
..           ...           ...
261          XKX  7.717145e+09
262          YEM           NaN
263          ZAF  3.379747e+11
264          ZMB  1.813776e+10
265          ZWE  2.686794e+10

[266 rows x 2 columns]

In [ ]:
land_area_path = "Data/Pesticide.csv"


df = pd.read_csv(land_area_path)


df_p = df[df['COMP_BREAKDOWN_1_LABEL'].str.contains('total', case=False, na=False)]

# Read the CSV, skipping the first 4 lines and making the next row the header
##df = pd.read_csv(land_area_path, skiprows=4)

# Rename '2020' column to 'Pesticide'
df_pp = df_p.rename(columns={"2020": "Pesticide"})

# Keep rows where the 'Item: Pesticides (total)' column contains 'total'
#df_total = df[df['Item: Pesticides (total)'].str.contains('total', case=False, na=False)]
df_pp = df_pp.rename(columns={"REF_AREA": "Country Code"})
# Keep only the 'REF_AREA' (country code) and 'Pesticide' columns
df_pesticide = df_pp[["Country Code", "Pesticide"]]

df_pesticide

     Country Code  Pesticide
3             ABW     457.71
8             AGO      40.00
15            AIA      65.91
20            ALB     401.58
27            AND      16.26
...           ...        ...
1398          WSM     185.14
1405          YEM    1504.08
1412          ZAF   41642.77
1419          ZMB    4196.64
1426          ZWE    2185.07

[211 rows x 2 columns]

In [41]:
# Load the Ag_Land_Area CSV and keep only 'Country Code' and 'Country Name' columns
df_key = pd.read_csv("Data/Ag_Land_Area.csv", skiprows=4)
df_key = df_key[["Country Code", "Country Name"]]
df_key

    Country Code                                       Country Name
0            ABW                                              Aruba
1            AFE                        Africa Eastern and Southern
2            AFG                                        Afghanistan
3            AFW                         Africa Western and Central
4            AGO                                             Angola
5            ALB                                            Albania
6            AND                                            Andorra
7            ARB                                         Arab World
8            ARE                               United Arab Emirates
9            ARG                                          Argentina
10           ARM                                            Armenia
11           ASM                                     American Samoa
12           ATG                                Antigua and Barbuda
13           AUS                                          Australia
14           AUT                                            Austria
15           AZE                                         Azerbaijan
16           BDI                                            Burundi
17           BEL                                            Belgium
18           BEN                                              Benin
19           BFA                                       Burkina Faso
20           BGD                                         Bangladesh
21           BGR                                           Bulgaria
22           BHR                                            Bahrain
23           BHS                                       Bahamas, The
24           BIH                             Bosnia and Herzegovina
25           BLR                                            Belarus
26           BLZ                                             Belize
27           BMU                                            Bermuda
28           BOL                                            Bolivia
29           BRA                                             Brazil
30           BRB                                           Barbados
31           BRN                                  Brunei Darussalam
32           BTN                                             Bhutan
33           BWA                                           Botswana
34           CAF                           Central African Republic
35           CAN                                             Canada
36           CEB                     Central Europe and the Baltics
37           CHE                                        Switzerland
38           CHI                                    Channel Islands
39           CHL                                              Chile
40           CHN                                              China
41           CIV                                      Cote d'Ivoire
42           CMR                                           Cameroon
43           COD                                   Congo, Dem. Rep.
44           COG                                        Congo, Rep.
45           COL                                           Colombia
46           COM                                            Comoros
47           CPV                                         Cabo Verde
48           CRI                                         Costa Rica
49           CSS                             Caribbean small states
50           CUB                                               Cuba
51           CUW                                            Curacao
52           CYM                                     Cayman Islands
53           CYP                                             Cyprus
54           CZE                                            Czechia
55           DEU                                            Germany
56           DJI                                           Djibouti
57           DMA                                           Dominica
58           DNK                                            Denmark
59           DOM                                 Dominican Republic
60           DZA                                            Algeria
61           EAP        East Asia & Pacific (excluding high income)
62           EAR                         Early-demographic dividend
63           EAS                                East Asia & Pacific
64           ECA      Europe & Central Asia (excluding high income)
65           ECS                              Europe & Central Asia
66           ECU                                            Ecuador
67           EGY                                   Egypt, Arab Rep.
68           EMU                                          Euro area
69           ERI                                            Eritrea
70           ESP                                              Spain
71           EST                                            Estonia
72           ETH                                           Ethiopia
73           EUU                                     European Union
74           FCS           Fragile and conflict affected situations
75           FIN                                            Finland
76           FJI                                               Fiji
77           FRA                                             France
78           FRO                                      Faroe Islands
79           FSM                              Micronesia, Fed. Sts.
80           GAB                                              Gabon
81           GBR                                     United Kingdom
82           GEO                                            Georgia
83           GHA                                              Ghana
84           GIB                                          Gibraltar
85           GIN                                             Guinea
86           GMB                                        Gambia, The
87           GNB                                      Guinea-Bissau
88           GNQ                                  Equatorial Guinea
89           GRC                                             Greece
90           GRD                                            Grenada
91           GRL                                          Greenland
92           GTM                                          Guatemala
93           GUM                                               Guam
94           GUY                                             Guyana
95           HIC                                        High income
96           HKG                               Hong Kong SAR, China
97           HND                                           Honduras
98           HPC             Heavily indebted poor countries (HIPC)
99           HRV                                            Croatia
100          HTI                                              Haiti
101          HUN                                            Hungary
102          IBD                                          IBRD only
103          IBT                                   IDA & IBRD total
104          IDA                                          IDA total
105          IDB                                          IDA blend
106          IDN                                          Indonesia
107          IDX                                           IDA only
108          IMN                                        Isle of Man
109          IND                                              India
110          INX                                     Not classified
111          IRL                                            Ireland
112          IRN                                 Iran, Islamic Rep.
113          IRQ                                               Iraq
114          ISL                                            Iceland
115          ISR                                             Israel
116          ITA                                              Italy
117          JAM                                            Jamaica
118          JOR                                             Jordan
119          JPN                                              Japan
120          KAZ                                         Kazakhstan
121          KEN                                              Kenya
122          KGZ                                    Kyrgyz Republic
123          KHM                                           Cambodia
124          KIR                                           Kiribati
125          KNA                                St. Kitts and Nevis
126          KOR                                        Korea, Rep.
127          KWT                                             Kuwait
128          LAC  Latin America & Caribbean (excluding high income)
129          LAO                                            Lao PDR
130          LBN                                            Lebanon
131          LBR                                            Liberia
132          LBY                                              Libya
133          LCA                                          St. Lucia
134          LCN                          Latin America & Caribbean
135          LDC       Least developed countries: UN classification
136          LIC                                         Low income
137          LIE                                      Liechtenstein
138          LKA                                          Sri Lanka
139          LMC                                Lower middle income
140          LMY                                Low & middle income
141          LSO                                            Lesotho
142          LTE                          Late-demographic dividend
143          LTU                                          Lithuania
144          LUX                                         Luxembourg
145          LVA                                             Latvia
146          MAC                                   Macao SAR, China
147          MAF                           St. Martin (French part)
148          MAR                                            Morocco
149          MCO                                             Monaco
150          MDA                                            Moldova
151          MDG                                         Madagascar
152          MDV                                           Maldives
153          MEA                         Middle East & North Africa
154          MEX                                             Mexico
155          MHL                                   Marshall Islands
156          MIC                                      Middle income
157          MKD                                    North Macedonia
158          MLI                                               Mali
159          MLT                                              Malta
160          MMR                                            Myanmar
161          MNA  Middle East & North Africa (excluding high inc...
162          MNE                                         Montenegro
163          MNG                                           Mongolia
164          MNP                           Northern Mariana Islands
165          MOZ                                         Mozambique
166          MRT                                         Mauritania
167          MUS                                          Mauritius
168          MWI                                             Malawi
169          MYS                                           Malaysia
170          NAC                                      North America
171          NAM                                            Namibia
172          NCL                                      New Caledonia
173          NER                                              Niger
174          NGA                                            Nigeria
175          NIC                                          Nicaragua
176          NLD                                        Netherlands
177          NOR                                             Norway
178          NPL                                              Nepal
179          NRU                                              Nauru
180          NZL                                        New Zealand
181          OED                                       OECD members
182          OMN                                               Oman
183          OSS                                 Other small states
184          PAK                                           Pakistan
185          PAN                                             Panama
186          PER                                               Peru
187          PHL                                        Philippines
188          PLW                                              Palau
189          PNG                                   Papua New Guinea
190          POL                                             Poland
191          PRE                           Pre-demographic dividend
192          PRI                                        Puerto Rico
193          PRK                          Korea, Dem. People's Rep.
194          PRT                                           Portugal
195          PRY                                           Paraguay
196          PSE                                 West Bank and Gaza
197          PSS                        Pacific island small states
198          PST                          Post-demographic dividend
199          PYF                                   French Polynesia
200          QAT                                              Qatar
201          ROU                                            Romania
202          RUS                                 Russian Federation
203          RWA                                             Rwanda
204          SAS                                         South Asia
205          SAU                                       Saudi Arabia
206          SDN                                              Sudan
207          SEN                                            Senegal
208          SGP                                          Singapore
209          SLB                                    Solomon Islands
210          SLE                                       Sierra Leone
211          SLV                                        El Salvador
212          SMR                                         San Marino
213          SOM                                            Somalia
214          SRB                                             Serbia
215          SSA         Sub-Saharan Africa (excluding high income)
216          SSD                                        South Sudan
217          SSF                                 Sub-Saharan Africa
218          SST                                       Small states
219          STP                              Sao Tome and Principe
220          SUR                                           Suriname
221          SVK                                    Slovak Republic
222          SVN                                           Slovenia
223          SWE                                             Sweden
224          SWZ                                           Eswatini
225          SXM                          Sint Maarten (Dutch part)
226          SYC                                         Seychelles
227          SYR                               Syrian Arab Republic
228          TCA                           Turks and Caicos Islands
229          TCD                                               Chad
230          TEA         East Asia & Pacific (IDA & IBRD countries)
231          TEC       Europe & Central Asia (IDA & IBRD countries)
232          TGO                                               Togo
233          THA                                           Thailand
234          TJK                                         Tajikistan
235          TKM                                       Turkmenistan
236          TLA  Latin America & the Caribbean (IDA & IBRD coun...
237          TLS                                        Timor-Leste
238          TMN  Middle East & North Africa (IDA & IBRD countries)
239          TON                                              Tonga
240          TSA                            South Asia (IDA & IBRD)
241          TSS          Sub-Saharan Africa (IDA & IBRD countries)
242          TTO                                Trinidad and Tobago
243          TUN                                            Tunisia
244          TUR                                            Turkiye
245          TUV                                             Tuvalu
246          TZA                                           Tanzania
247          UGA                                             Uganda
248          UKR                                            Ukraine
249          UMC                                Upper middle income
250          URY                                            Uruguay
251          USA                                      United States
252          UZB                                         Uzbekistan
253          VCT                     St. Vincent and the Grenadines
254          VEN                                      Venezuela, RB
255          VGB                             British Virgin Islands
256          VIR                              Virgin Islands (U.S.)
257          VNM                                           Viet Nam
258          VUT                                            Vanuatu
259          WLD                                              World
260          WSM                                              Samoa
261          XKX                                             Kosovo
262          YEM                                        Yemen, Rep.
263          ZAF                                       South Africa
264          ZMB                                             Zambia
265          ZWE                                           Zimbabwe

In [46]:
from functools import reduce

dfs = [df_AG_AREA, df_AG_pct, df_pct_gdp, df_cereal_yield, df_GDP, df_pesticide, df_key]
df_merged = reduce(lambda left, right: pd.merge(left, right, on="Country Code", how="outer"), dfs)

# Display all rows in the dataframe
import pandas as pd
pd.set_option('display.max_rows', 8)

display(df_merged)

,Country Code,Ag_land_Area,Ag_land_pct,Ag_pct_gdp,Cereal_yield_kg/ha,GDP,Pesticide,Country Name
0,ABW,NaN,11.111111,NaN,NaN,2.481857e+09,457.71,Aruba
1,AFE,55508093.0,46.456976,14.644268,1864.028459,9.333918e+11,NaN,Africa Eastern and Southern
2,AFG,3043589.0,58.741548,29.975583,2050.800000,1.995593e+10,NaN,Afghanistan
3,AFW,57238802.0,41.120326,22.246007,1368.256795,7.898017e+11,NaN,Africa Western and Central
...,...,...,...,...,...,...,...,...
277,YEM,554687.0,44.419190,NaN,1423.400000,NaN,1504.08,"Yemen, Rep."
278,ZAF,3669212.0,79.417850,2.578661,5121.100000,3.379747e+11,41642.77,South Africa
279,ZMB,1486760.0,32.067959,2.972634,2481.600000,1.813776e+10,4196.64,Zambia
280,ZWE,1446000.0,39.754073,8.772859,1148.700000,2.686794e+10,2185.07,Zimbabwe

In [ ]:
# Drop all rows with NaN values in the 'Pesticide' column
df_merged = df_merged.dropna(subset=['Pesticide', 'Country Name'])
display(df_merged)


### I have the datafram I am going to work with now.

,Country Code,Ag_land_Area,Ag_land_pct,Ag_pct_gdp,Cereal_yield_kg/ha,GDP,Pesticide,Country Name
0,ABW,NaN,11.111111,NaN,NaN,2.481857e+09,457.71,Aruba
4,AGO,3099418.0,36.810780,9.946544,992.3,4.850156e+10,40.00,Angola
6,ALB,131310.0,42.538504,18.806138,5209.2,1.524146e+10,401.58,Albania
7,AND,NaN,39.951702,0.559443,NaN,2.891001e+09,16.26,Andorra
...,...,...,...,...,...,...,...,...
277,YEM,554687.0,44.419190,NaN,1423.4,NaN,1504.08,"Yemen, Rep."
278,ZAF,3669212.0,79.417850,2.578661,5121.1,3.379747e+11,41642.77,South Africa
279,ZMB,1486760.0,32.067959,2.972634,2481.6,1.813776e+10,4196.64,Zambia
280,ZWE,1446000.0,39.754073,8.772859,1148.7,2.686794e+10,2185.07,Zimbabwe